<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
</head>
<body>
  <a href="/form/register-form"><button id ="register-button">회원가입</button></a>
  <a href="/form/login-form"><button id = "login-button">로그인</button></a>
  <a href="/form/writing-article-form"><button id = "write-article-button">글쓰기</button></a>
  <a href="/items"><button id = "view-items-button">전체 글 조회</button ></a>
</body>
<script>
    if(localStorage.getItem("token") != null){
        document.getElementById("register-button").remove()
        document.getElementById("login-button").remove()
    }
</script>
</html>