<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
    아이디: <input id = "inputId">
    <br>
    비밀번호: <input id = "inputPw">
    <button id = "loginButton">로그인</button>
</body>

<script>
    document.getElementById("loginButton").addEventListener("click", login)

    function login(){
        let inputId = document.getElementById("inputId").value;
        let inputPw = document.getElementById("inputPw").value;

        fetch("/users/login?inputId=id&inputPw=pw".replace("id", inputId).replace("pw", inputPw))
            .then(function (response){
                if(response.ok) response.json()
                    .then(function(body){
                        localStorage.setItem("token", body.token)
                        alert("로그인 성공!")
                        window.history.back();
                    })
                else alert("회원정보 오류")
            })
    }
</script>
</html>